@use "sass:map";

@import "../variables";
@import "../mixins";

.box  {
    display: block;
}

$paddingXStyles: ();
@each $spacingName, $spacingValue in $spacing {
    $paddingXStyles: map-merge($paddingXStyles, (
        #{$spacingName}: (
            "base": (
                "padding-left": #{$spacingValue},
                "padding-right": #{$spacingValue}
            )
        )
    ));
}

$paddingYStyles: ();
@each $spacingName, $spacingValue in $spacing {
    $paddingYStyles: map-merge($paddingYStyles, (
        $spacingName: (
            "base": (
                "padding-top": #{$spacingValue},
                "padding-bottom": #{$spacingValue}
            )
        )
    ));
}

@include responsivePropClasses('box-paddingX', $paddingXStyles);
@include responsivePropClasses('box-paddingY', $paddingYStyles);
