@import "../variables.scss";
@import "../mixins.scss";
 
.contentWrapper {
    background: $lightShade;
    & > * {
        margin: 0 auto;
        max-width: $mobile-content-width;
        @include up($sm-breakpoint) {
            max-width: $sm-content-width; 
        }
        @include up($md-breakpoint) { 
            max-width: $md-content-width; 
        }    
        @include up($lg-breakpoint) { 
            max-width: $lg-content-width; 
        }   
        @include up($xl-breakpoint) { 
            max-width: $xl-content-width; 
        }
        @include up($xxl-breakpoint) {
            max-width: $xxl-breakpoint;
        }
    }
}