@use 'sass:map';
@import "../variables.scss";
@import "../mixins.scss";


$columnWidths: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11 ,12;

@each $i in $columnWidths {
    .gridItem-#{$i} {
        width: 100%;
        background-color: map.get($colours, 'gray');
        @include up('md') {
            max-width: calc(100%  * ($i / 12));
        }
    }
}

.gridContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}