@use "sass:map";

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@import "./variables.scss";
@import "./mixins.scss";

* {
    font-family: 'Lato', sans-serif;
}

html {
    font-size: map.get($fontSizes, "sm");
    @include up("lg") {
        font-size: map.get($fontSizes, "lg");
   } 
}

h1 {
    font-size: 3rem;
    line-height: 3.25rem;
}
h2 {
    font-size: 2rem;
    line-height: 2.25rem;
}
h3 {
    font-size: 1.5rem;
    line-height: 1.75rem;
}
h4 {
    font-weight: 700;
}