@use 'sass:map';

$borderRadius: 8px;

$spacing: (
    "sm": 12px,
    "md": 20px,
    "lg": 40px,
    "xl": 80px,
    "xxl": 120px
);

$breakpoints: (
    "sm": 576px,
    "md": 768px,
    "lg": 992px,
    "xl": 1200px,
    "xxl": 1400px
);

$contentWidth: (
    "default": calc(100% - map.get($spacing, "md") * 2),
    "sm": calc(map.get($breakpoints, "sm") - map.get($spacing, "md") * 2),
    "md": calc(map.get($breakpoints, "md") - map.get($spacing, "md") * 2),
    "lg": calc(map.get($breakpoints, "lg") - map.get($spacing, "md") * 2),
    "xl": calc(map.get($breakpoints, "xl") - map.get($spacing, "md") * 2),
    "xxl": calc(map.get($breakpoints, "xxl") - map.get($spacing, "md") * 2),
);

$colours: (
    "gray": #ACADBC,
    "lightShade": #9B9ECE,
    "midShade": #6665DD,
    "darkShade": #473BF0,
    "black": #000500,
);

$fontSizes: (
    "sm": 18px,
    "lg": 22px
);

$columnWidths: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11 ,12;
